@model IEnumerable<MvcGrid.Models.Staff>
@using GridMvc.Html
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Personelleri Listele</h2>

@Html.ActionLink("Ekle", "Add", "Grid", null, new { @class="btn btn-primary"})

@Html.Grid(Model).Columns(column =>
{
   column.Add(m => m.FirstName).Titled("Adlar").Sortable(true).Filterable(true);
   column.Add(m => m.LastName).Titled("Soyadlar").Sortable(true).Filterable(true);
   column.Add(m => m.Age).Titled("Yaşlar").Sortable(true).Filterable(true);
   column.Add()
   .Encoded(false)
   .Sanitized(false)
   .SetWidth(30)
   .RenderValueAs(x => Html.ActionLink("Düzenle", "Edit", "Grid", new { id = x.Id }, new { @class = "btn btn-warning" }));

   column.Add()
   .Encoded(false)
   .Sanitized(false)
   .SetWidth(30)
   .RenderValueAs(x => Html.ActionLink("Sil", "Delete", "Grid", new { id = x.Id }, new { @class = "btn btn-danger" }));

}).WithPaging(10)

